.card{
    height:100vh;
    width: 100vw;
    position:sticky;
    background-color: black;
    color:white;
    top:0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    width: 100%;
    height: 100%;
}
